

.nav-p{
    height: 70px !important;
    background: rgba(255,255,255,0.5) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.4);
}

.btn-p{
    padding: 0.7rem 1.8rem !important;
    margin: 4px;
    margin-left: 20px;
}

.nav-buttons-p{
    padding: 16px !important;
    margin-inline: 3px !important;
    border-radius: 5000px !important;
    transition: .3s all !important;
    height: 60px !important;
}

.footer-icons-p{
    font-family: 'Inter Tight', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
    text-decoration: none;
    color: #cdf344 !important;
}

.logo-p{
    margin-left: 0px !important;
}

.full-width-section {
    width: 100%;
    padding: 0;
    margin: 0;
}

.full-width-section .container {
    width: 95%;
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;
}

/* Style for scroll-top button */
.backToTopBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: none;
    color: #cccccc;
    border-radius: 100%;
    transition: 0.5s;
    cursor: pointer;
  }
  .backToTopBtn:not(:hover) {
    background: #1f1f1f;
  }
  .backToTopBtn:hover {
    background: #0f0f0f;
  }
  .backToTopBtn.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .backToTopBtn:not(.active) {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
